#This is the default config file
#Do NOT delete
#Do NOT repeat names

#General
extensions_enabled 0
video_polarity 1

#SubtractBias
do_row_first false
do_row_fits true
do_row_sub true
n_pedestal_fits_row 4
sub_corr_noise_row true
do_col_fits true
do_col_sub true
n_pedestal_fits_col 2
sub_corr_noise_col false
write_fit_histos false
write_lin_graphs false
min_entries_fit 100
frac_for_lin_fit 0.9

#GenerateMask
mask_rms_cut 5.5
mask_bias_cut 5.5
mask_rebin_factor_x 10
mask_rebin_factor_y 10
mask_nmax_frac 0.5
mask_nhits_frac 0.5

#ApplyMask
use_master_rms false
apply_master_bias false

#FindClusters
find_fast true
first_good_row 3
n_sigma_threshold_seed 4
n_sigma_threshold_around 4
write_cluster_histos false
write_tree true
ignore_large_sigma true

#Viewer
canvas_xsize 200
canvas_ysize 150
show_raw false

#EvalCharge

#EvalSize
edge_dist 7
covered_frac 0.5

#EvalCurve

#EvalLL
make_extra_pix 5
doLL true
one_by_onehundred false
LLwindow 5
LL_conv_factor 1
zero_base true
has_noise false
ene_min 0.1
ene_lim 100

#ReadSimulation
#these options apply when reading MCNPX or Geant4
#For Geant4
is_g4_sim true
sim_noise 0
sim_onebyhundred false
#in microns
sim_diff_offset 10
sim_diff_b 0.000924
sim_diff_A 215
#energy pars
sim_fano_factor 0.129
sim_e_conv_factor 1
sim_flip_CCD false
#readout pars
sim_cti_fast true
sim_cti_1 0
sim_cti_2 0
sim_cti_bound 0
sim_cti_x 0
#only for simulated pedestal
sim_bit_pix 16
sim_pedestal_sigma 20
sim_pedestal_mean 1000
sim_nreads 1
